
@mixin display{
display: flex;
    justify-content: space-between;

}

@mixin headerlogo{
    width: 150px;
    transform: rotate(-30deg);
}


@mixin navdisplay{
    padding: 5px 10px;
    text-align: right;
    font-size: 1.3rem;
}