@import "../base/typography";
@import "../base/variables";
@import "../base/mixin";
@import "../layout/header";
@import "../layout/footer";






.second__blue__circle{
    height:3rem;
    width:3rem;
    border-radius:50%;
    background-color: $blue;
    margin-left:23.5rem;
    margin-top:10rem;
    
  }

.square {
  height: 40px;
  margin-left: 5px;
  width: 40px;
  background: #DF4E31;
  display: flex;
  justify-content: center;
  //border-radius:50%;
  padding: 5px;
  
}

.slash {
  height: 30px;
  transform: rotate(45deg);
  width: 0;
  border: 2px solid white;
}



  
  .main_container {
    border: none;
    position: relative;
    min-height: 80vh;
    display: flex;
    @include alignment;
    padding: 0px 5%;
    z-index: 1;
  }
  .main_container .content {
    display: flex;
    position: relative;
    flex: 1;
    padding: 5%;
  }

  .main_container .content .content-text {
    display: flex;
    @include alignment;
    justify-content: center;
    padding: 5px;
    flex: 1;
  }



  .image__section:after{
    content:" ";
    height: 0.2rem;
    width: 6rem;
    background: $blue;
    display: block;
    position: absolute;
    top: 55%;
    left: 20rem;
  }

  .image__section1:after{
    content:" ";
    height: 0.2rem;
    width: 6rem;
    background:$yellow;
    display: block;
    position: absolute;
    top: 67%;
    left: 60rem;
  }
